#sidebar {
    position: absolute;
    right: 0%;
    height: 100%;
    width: 50px;
    outline-style: solid;
    outline-color: #9e9e9e;
    outline-width: thin;
    transition: 0.5s ease;
    padding-right: 15px;
    background-color: #323232;
}

.features {
    position: fixed;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    right: 0;
    width: 0;
    top: 0;
    /*   padding: 20px 20px; */
    outline-style: solid;
    outline-color: #9e9e9e;
    outline-width: thin;
    transition: 0.5s ease;
    background-color: #323232;
}

.features button:hover {
    color: #F2CA58;
}

.closeFeat {
    position: absolute;
    top: 0;
    right: 5px;
    margin: 5px;
    border: none;
    background-color: #323232;
    color: white;
    cursor: pointer;
}

.toggles {
    display: flex;
    flex-direction: column;
    margin: 15px;
    transition: 1s ease;
}

.toggles div {
    padding: 15px 0px;
}

.toggles button {
    border: none;
    color: white;
    cursor: pointer;
    background-color: #323232;
}

.toggles button:hover {
    color: #F2CA58;
}